.submitButton{
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    border-radius: 8px;
    background: #000;
    height: 42px;
    width: 150px;
    height: 30px;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.settingContainer{
    font-family: Montserrat-500;
    font-weight: 500;
}